
* {
  margin: 0;
}

.header {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.wrapper {
  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 380px;
  padding: 15px;
  padding-bottom: 0px;
}

.nav_sub {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav_item {
  margin-left: 10px;
}

.nav_turn {
  min-width: 80px;
  margin-left: auto
}

.gameboard {
  width: auto;
  min-height: auto;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse:collapse;
}

td {
  border: 1px solid black;
  height: 5px;
  width: 5px;
  margin: 0px;
}

td.solid {
  background-color: orange;
}
